body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body::before {
  background-color: rgba(255, 255, 255, 0.7); 
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
  padding-bottom: 50px;
}

.logoutButton {
  position: absolute;
  top: 20px; 
  right: 20px; 
  padding: 10px 20px;
  background-color: #475fff; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.logoutButton:hover {
  background-color: #2967e3; 
}

.addOrderButton {
  background-color: #169a2a; 
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.addOrderButton:hover {
  background-color: #0d6a1b; 
  transform: scale(1.05); 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.addOrderButton:active {
  transform: scale(0.98);
}
